<aside class="blogItm sidebar">
    <div class="sideIn">
      <div class="section" id="side-widget">
        <div class="widget PopularPosts" data-version="2" id="PopularPosts00">
          <h2 class="title">Bài viết vừa xem</h2>
          <div class="itemPp">
            <article class="itm mostP pTag" *ngIf="popularPostNew">
              <div class="iThmb pThmb">
                <a
                  class="thmb"
                  href="https://medianui-anhtuanblog.blogspot.com/2021/10/post-with-product-view.html"
                >
                  <img
                    alt="Image - Default"
                    class="imgThm lazy loaded"
                    data-src="{{ popularPostNew?.image }}"
                    src="{{ popularPostNew?.image }}"
                    lazied=""
                  />
                  <noscript
                    ><img
                      alt="Image - Default"
                      class="imgThm"
                      src="https://4.bp.blogspot.com/-OhiwDawFr6I/YJyEqW7fpXI/AAAAAAAAQr8/Pbr9BeN0BPsXw4CVVta1q_6c-vOBlT1gwCNcBGAsYHQ/w600-h300-p-k-no-nu/median-product.png"
                  /></noscript>
                </a>
                <div class="iFxd">
                  <div class="spnr">
                    <svg class="line" viewBox="0 0 24 24">
                      <path
                        d="M4.16989 15.3L8.69989 19.83C10.5599 21.69 13.5799 21.69 15.4499 19.83L19.8399 15.44C21.6999 13.58 21.6999 10.56 19.8399 8.69005L15.2999 4.17005C14.3499 3.22005 13.0399 2.71005 11.6999 2.78005L6.69989 3.02005C4.69989 3.11005 3.10989 4.70005 3.00989 6.69005L2.76989 11.69C2.70989 13.04 3.21989 14.35 4.16989 15.3Z"
                      ></path>
                      <path
                        d="M9.5 12C10.8807 12 12 10.8807 12 9.5C12 8.11929 10.8807 7 9.5 7C8.11929 7 7 8.11929 7 9.5C7 10.8807 8.11929 12 9.5 12Z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="iInf pSml">
                <div class="pLbls">
                  <a
                    *ngFor="
                      let tag of popularPostNew.tagList;
                      trackBy: trackByFn
                    "
                   
                    [attr.data-text]="tag"
                    rel="tag"
                  >
                  </a>
                </div>
              </div>
              <div class="iCtnt">
                <div class="iInr">
                  <h3 class="iTtl aTtl">
                    <a [routerLink]="['/article', popularPostNew?.slug]">{{
                      popularPostNew.title
                    }}</a>
                  </h3>
                </div>
              </div>
            </article>
            <div *ngFor="let item of popularPost.slice(1)">
              <article class="itm">
                <div class="iInf pSml">
                  <div class="pLbls">
                    <a
                      *ngFor="let tag of item.tagList; trackBy: trackByFn"
                      
                      [attr.data-text]="tag"
                      rel="tag"
                    >
                    </a>
                  </div>
                </div>
                <div class="iCtnt">
                  <div class="iInr">
                    <h3 class="iTtl aTtl">
                      <a [routerLink]="['/article', item?.slug]">{{
                        item.title
                      }}</a>
                    </h3>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="widget Label" data-version="2" id="Label00">
          <h3 class="title">Labels</h3>
          <div class="wL pSml bg cl">
            <div class="lbSz s-4">
              <a
                aria-label="Comments"
                class="lbN"
                href="https://medianui-anhtuanblog.blogspot.com/search/label/Comments"
              >
                <span class="lbT">Comments</span>
                <span class="lbC" data-text="(3)"></span>
              </a>
            </div>
            <div class="lbSz s-3">
              <a
                aria-label="Disqus"
                class="lbN"
                href="https://medianui-anhtuanblog.blogspot.com/search/label/Disqus"
              >
                <span class="lbT">Disqus</span>
                <span class="lbC" data-text="(2)"></span>
              </a>
            </div>
            <div class="lbSz s-1">
              <a
                aria-label="FB"
                class="lbN"
                href="https://medianui-anhtuanblog.blogspot.com/search/label/FB"
              >
                <span class="lbT">FB</span>
                <span class="lbC" data-text="(1)"></span>
              </a>
            </div>
            <div class="lbSz s-5">
              <a
               
                class="lbN"
                href="https://medianui-anhtuanblog.blogspot.com/search/label/Features"
              >
                <span class="lbT">Features</span>
                <span class="lbC" data-text="(5)"></span>
              </a>
            </div>
            <div class="lbSz s-1">
              <a
                aria-label="Fullpage"
                class="lbN"
                href="https://medianui-anhtuanblog.blogspot.com/search/label/Fullpage"
              >
                <span class="lbT">Fullpage</span>
                <span class="lbC" data-text="(1)"></span>
              </a>
            </div>
            <div class="lbSz s-3">
              <a
                aria-label="Preview"
                class="lbN"
                href="https://medianui-anhtuanblog.blogspot.com/search/label/Preview"
              >
                <span class="lbT">Preview</span>
                <span class="lbC" data-text="(2)"></span>
              </a>
            </div>
            <div class="lbSh">
              <input class="lbIn hidden" id="lbAl-1" type="checkbox" />
              <div class="lbAl">
                <div class="lbSz s-1">
                  <a
                    aria-label="Product"
                    class="lbN"
                    href="https://medianui-anhtuanblog.blogspot.com/search/label/Product"
                  >
                    <span class="lbT">Product</span>
                    <span class="lbC" data-text="(1)"></span>
                  </a>
                </div>
                <div class="lbSz s-1">
                  <a
                    aria-label="Sponsored"
                    class="lbN"
                    href="https://medianui-anhtuanblog.blogspot.com/search/label/Sponsored"
                  >
                    <span class="lbT">Sponsored</span>
                    <span class="lbC" data-text="(1)"></span>
                  </a>
                </div>
              </div>
              <label
                aria-label="Show labels"
                class="lbM"
                data-hide="Show less"
                data-show="Show more"
                data-text="(+2)"
                for="lbAl-1"
              ></label>
            </div>
          </div>
        </div>
      </div>
      <!--[ Sidebar sticky ]-->
      <div class="sideSticky section" id="side-sticky">
        <div class="widget HTML" data-version="2" id="HTML95">
          <div class="adB" data-text="Ads go here"></div>
        </div>
      </div>
    </div>
  </aside>