<br />
<div class="separator"></div>
<!-- <div class="container">
  <div class="row pt-7 pb-5">
    <div class="col-6 col-lg">
      <div class="py-10">
        <h3 class="text-dark mb-5 mb-lg-7 fs-4">Products</h3>
        <div class="d-flex flex-column fs-5 fw-bold">
          <a
            href="https://keenthemes.com/products/categories/pro-templates"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Pro Templates</a
          ><a
            href="https://keenthemes.com/products/categories/free-templates"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Free Templates</a
          ><a
            href="https://keenthemes.com/products/categories/metronic"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Metronic</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div class="py-10">
        <h3 class="text-dark mb-5 mb-lg-7 fs-4">Learn</h3>
        <div class="d-flex flex-column fs-5 fw-bold">
          <a
            href="https://keenthemes.com/tutorials"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >All Tutorials</a
          ><a
            href="https://keenthemes.com/tutorials/categories/metronic-admin"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Metronic Tutorials</a
          ><a
            href="https://keenthemes.com/tutorials/categories/keen-admin"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Keen Tutorials</a
          ><a
            href="https://keenthemes.com/blog"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Blog &amp; News</a
          ><a
            href="https://keenthemes.com/hireus"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Hire Experts</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div class="py-10">
        <h3 class="text-dark mb-5 mb-lg-7 fs-4">Resources</h3>
        <div class="d-flex flex-column fs-5 fw-bold">
          <a
            href="https://keenthemes.com/faqs"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >FAQs</a
          ><a
            href="https://keenthemes.com/support"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Support</a
          ><a
            href="https://keenthemes.com/contact"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Contact Us</a
          ><a
            href="https://keenthemes.com/affiliates"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Affiliate Program</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div class="py-10">
        <h3 class="text-dark mb-5 mb-lg-7 fs-4">General</h3>
        <div class="d-flex flex-column fs-5 fw-bold">
          <a
            href="https://keenthemes.com/licensing"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >License Terms</a
          ><a
            href="https://keenthemes.com/privacy"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Privacy Policy</a
          ><a
            href="https://keenthemes.com/terms"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Terms &amp; Conditions</a
          ><a
            href="https://keenthemes.com/refund-policy"
            class="text-gray-700 text-hover-primary py-2 py-lg-3"
            >Refund Policy</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div class="py-10">
        <h3 class="text-dark mb-5 mb-lg-7 fs-4">Stay Connected</h3>
        <div class="d-flex flex-column fs-5 fw-bold">
          <a
            href="https://instagram.com/keenthemes"
            class="d-flex align-items-center text-center text-gray-700 text-hover-primary py-2 py-lg-3"
            ><img
              src="https://devs.keenthemes.com/assets/media/social-icons/instagram.svg"
              data-lazy-src="https://devs.keenthemes.com/assets/media/social-icons/instagram.svg"
              class="w-20px me-3 loaded"
              alt=""
            />
            Instagram </a
          ><a
            href="https://twitter.com/keenthemes"
            class="d-flex align-items-center text-center text-gray-700 text-hover-primary py-2 py-lg-3"
            ><img
              src="https://devs.keenthemes.com/assets/media/social-icons/twitter.svg"
              data-lazy-src="https://devs.keenthemes.com/assets/media/social-icons/twitter.svg"
              class="w-20px me-3 loaded"
              alt=""
            />
            Twitter </a
          ><a
            href="https://dribbble.com/keenthemes"
            class="d-flex align-items-center text-center text-gray-700 text-hover-primary py-2 py-lg-3"
            ><img
              src="https://devs.keenthemes.com/assets/media/social-icons/dribbble.svg"
              data-lazy-src="https://devs.keenthemes.com/assets/media/social-icons/dribbble.svg"
              class="w-20px me-3 loaded"
              alt=""
            />
            Dribbble </a
          ><a
            href="https://www.linkedin.com/company/keenthemes"
            class="d-flex align-items-center text-center text-gray-700 text-hover-primary py-2 py-lg-3"
            ><img
              src="https://devs.keenthemes.com/assets/media/social-icons/linkedin.svg"
              data-lazy-src="https://devs.keenthemes.com/assets/media/social-icons/linkedin.svg"
              class="w-20px me-3 loaded"
              alt=""
            />
            Linkedin </a
          ><a
            href="https://github.com/KeenthemesHub/"
            class="d-flex align-items-center text-center text-gray-700 text-hover-primary py-2 py-lg-3"
            ><img
              src="https://devs.keenthemes.com/assets/media/social-icons/github.svg"
              data-lazy-src="https://devs.keenthemes.com/assets/media/social-icons/github.svg"
              class="w-20px me-3 loaded"
              alt=""
            />
            Github
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="separator"></div>
<div class="container py-5 py-lg-8">
  <div
    class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between"
  >
    <div class="d-flex align-items-center me-md-2 order-2 order-md-1">
      <a href="https://devs.keenthemes.com" class="me-3 me-md-6 d-none"
        ><img
          alt="logo"
          src="https://devs.keenthemes.com/assets/media/logos/default.svg"
          class="h-20px h-md-25px" /></a
      ><a class="fs-7 fw-bold text-gray-700 pt-1" href="https://keenthemes.com">
        &copy; {{ today | date: 'yyyy' }} Devlangthang.
      </a>
    </div>
    <!-- <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-center order-1 order-md-2 mb-5 mb-md-0"
    >
      <div class="fs-7 fw-bold text-gray-700 mb-5 mb-md-0">
        Secured Payment by
        <a
          href="https://www.2checkout.com/"
          target="_blank"
          class="text-dark-50 text-hover-primary"
          >2Checkout</a
        >
        with:
      </div>
      <div class="ms-4">
        <img
          src="https://devs.keenthemes.com/assets/media/payment-methods/default/paypal.svg"
          data-lazy-src="https://devs.keenthemes.com/assets/media/payment-methods/default/paypal.svg"
          alt=""
          class="h-20px me-2 rounded-1 loaded"
        /><img
          src="https://devs.keenthemes.com/assets/media/payment-methods/default/visa.svg"
          data-lazy-src="https://devs.keenthemes.com/assets/media/payment-methods/default/visa.svg"
          alt=""
          class="h-20px me-2 rounded-1 loaded"
        /><img
          src="https://devs.keenthemes.com/assets/media/payment-methods/default/mastercard.svg"
          data-lazy-src="https://devs.keenthemes.com/assets/media/payment-methods/default/mastercard.svg"
          alt=""
          class="h-20px me-2 rounded-1 loaded"
        /><img
          src="https://devs.keenthemes.com/assets/media/payment-methods/default/americanexpress.svg"
          data-lazy-src="https://devs.keenthemes.com/assets/media/payment-methods/default/americanexpress.svg"
          alt=""
          class="h-20px rounded-1 loaded"
        />
      </div>
    </div> -->
  </div>
</div>
