 <!--[ Header section ]-->
 <header class="header" id="header">
  <!--[ Header content ]-->
  <div class="headCn">
    <div class="headD headL">
      <div class="headIc">
        <label class="tNav tIc bIc" for="offNav">
          <svg class="line" viewBox="0 0 24 24">
            <line x1="3" x2="21" y1="12" y2="12"></line>
            <line x1="3" x2="21" y1="5" y2="5"></line>
            <line x1="3" x2="21" y1="19" y2="19"></line>
          </svg>
        </label>
      </div>
      <!--[ Header widget ]-->
      <div class="headN section" id="header-title">
        <div class="widget Header" data-version="2" id="Header1">
          <div class="headInnr">
            <h1 class="headH">
              <bdi>
                <span class="headTtl">
                  Dev Lang Thang
                </span>
              </bdi>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="headD headR">
      <div class="headI">
        <div class="headS section" id="header-search">
          <div
            class="widget BlogSearch"
            data-version="2"
            id="BlogSearch1"
          >
            <form
              class="srchF"
              target="_top"
            >
              <input
                aria-label="Search this blog"
                autocomplete="off"
                id="searchIn"
                minlength="3"
                name="q"
                placeholder="Try &#39;Adventure&#39;"
                required="required"
                value=""
              />
              <span class="sb">
                <svg class="line" viewBox="0 0 24 24">
                  <g transform="translate(2.000000, 2.000000)">
                    <circle
                      cx="9.76659044"
                      cy="9.76659044"
                      r="8.9885584"
                    ></circle>
                    <line
                      x1="16.0183067"
                      x2="19.5423342"
                      y1="16.4851259"
                      y2="20.0000001"
                    ></line>
                  </g>
                </svg>
              </span>
              <button
                aria-label="Clear"
                class="sb"
                data-text="âœ•"
                type="reset"
              ></button>
              <span class="fCls"></span>
            </form>
          </div>
        </div>
        <div class="headP section" id="header-icon">
          <div class="widget TextList" data-version="2" id="TextList000">
            <ul class="headIc">
              <li class="isSrh">
                <label
                  aria-label="Search"
                  class="tSrch tIc bIc"
                  for="searchIn"
                >
                  <svg class="line" viewBox="0 0 24 24">
                    <g transform="translate(2.000000, 2.000000)">
                      <circle
                        cx="9.76659044"
                        cy="9.76659044"
                        r="8.9885584"
                      ></circle>
                      <line
                        x1="16.0183067"
                        x2="19.5423342"
                        y1="16.4851259"
                        y2="20.0000001"
                      ></line>
                    </g>
                  </svg>
                </label>
              </li>
              <li >
                <label
                  aria-label="Profile"
                  class="tPrfl tIc bIc"
                  for="offPrf"
                >
                  <svg class="line" viewBox="0 0 24 24">
                    <path
                      d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                    ></path>
                    <path
                      d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22"
                    ></path>
                  </svg>
                </label>
              </li>
            </ul>
          </div>
          <!-- da login -->
          <div class="widget Profile" data-version="2" id="Profile1" *appShowAuthed="true">
            <div class="wPrf sl nLoc">
              <div class="prfS fixLs">
                <div class="prfH fixH fixT" data-text="Contributors">
                  <label
                    aria-label="Close"
                    class="c cl"
                    for="offPrf"
                  ></label>
                </div>
                <div class="prfC">
                  <div class="sImg">
                    <div
                      class="im lazy"
                      data-style="background-image: url(//3.bp.blogspot.com/-gLkGtfXLfi4/YPTNgj9GoBI/AAAAAAAAAns/fTh4PgoeNRQU69pW9FMetXJ4yJzLlZFIgCK4BGAYYCw/w60/avt-1.jpeg)"
                    ></div>
                    <noscript
                      ><div
                        class="im"
                        style="
                          background-image: url(//3.bp.blogspot.com/-gLkGtfXLfi4/YPTNgj9GoBI/AAAAAAAAAns/fTh4PgoeNRQU69pW9FMetXJ4yJzLlZFIgCK4BGAYYCw/w60/avt-1.jpeg);
                        "
                      ></div
                    ></noscript>
                  </div>
                  <dl class="sInf">
                    <dt class="sDt">
                      <a
                        class="l extL"
                        [routerLink]="['/profile', currentUser.username]"
                        routerLinkActive="active"
                        rel="author noreferrer"
                        target="_blank"
                        title="View my complete profile"
                      >
                        <bdi>{{ currentUser.username }}</bdi>
                      </a>
                    </dt>
                    <!-- <dd class="sTxt">Sống hết mình!</dd> -->
                    <dd class="lc" data-text="Việt Nam, Vietnam">
                      <svg class="line" viewBox="0 0 24 24">
                        <path
                          d="M12 13.4299C13.7231 13.4299 15.12 12.0331 15.12 10.3099C15.12 8.58681 13.7231 7.18994 12 7.18994C10.2769 7.18994 8.88 8.58681 8.88 10.3099C8.88 12.0331 10.2769 13.4299 12 13.4299Z"
                        ></path>
                        <path
                          d="M3.62001 8.49C5.59001 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.39001 20.54C5.63001 17.88 2.47001 13.57 3.62001 8.49Z"
                        ></path>
                      </svg>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <label class="fCls" for="offPrf"></label>
          </div>
          <!-- chua login -->
          <div class="widget Profile" data-version="2" id="Profile1" *appShowAuthed="false">
            <div class="wPrf sl nLoc">
              <div class="prfS fixLs">
                <div class="prfH fixH fixT" data-text="Login">
                  <label
                    class="c cl"
                    for="offPrf"
                  ></label>
                </div>
                <div class="prfC">
                  <dl class="sInf">
                    <dd class="sTxt"  routerLink="/login"
                    routerLinkActive="active">Đăng nhập</dd>
                    <dd class="sTxt"routerLink="/register"
                    routerLinkActive="active">Đăng ký tài khoản mới</dd>
                  </dl>
                </div>
              </div>
            </div>
            <label class="fCls" for="offPrf"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>