<article class="ntry pTag noAd">
  <div class="pThmb">
    <a
      [routerLink]="['/', article?.slug]"
      class="thmb"
      title="{{ article.title }}"
    >
      <img
        alt="Image - Default"
        class="imgThm lazy loaded"
        [src]="article.imageUrl"
        lazied=""
      />
    </a>
    <app-favorite-button
      [article]="article"
      (toggle)="onToggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </div>
  <div class="pCntn">
    <div class="pHdr pSml">
      <div class="pLbls">
        <a
          *ngFor="let tag of article.tagList; trackBy: trackByFn"
          [routerLink]="['/', article?.slug]"
          rel="tag"
          title="{{ tag }}"
        >
          {{ tag }}
        </a>
      </div>
    </div>
    <h2 class="pTtl aTtl sml nSpr">
      <a
        [routerLink]="['/', article?.slug]"
        class="preview-link"
        rel="bookmark"
      >
        {{ article.title }}
      </a>
    </h2>
    <div class="pSnpt">
      {{ article.description }}
      &#8230;
    </div>

    <div class="pSnpt">
      <time
        class="aTtmp pTtmp pbl"
        [attr.data-text]="article.createdAt"
        [attr.datetime]="article.createdAt"
        [attr.title]="'Published: ' + article.createdAt"
      ></time>
    </div>
  </div>
</article>
