<article class="ntry pTag noAd">
  <div class="pThmb">
    <a
      class="thmb"
     
    >
      <img
        alt="Image - Default"
        class="imgThm lazy loaded"
        data-src="{{ article?.imageUrl }}"
        src="{{ article?.imageUrl }}"
        lazied=""
      />
      <noscript
        ><img
          alt="Image - Default"
          class="imgThm"
          src="https://4.bp.blogspot.com/-algkDmAuKPc/YIIdGss3QZI/AAAAAAAAQps/rr13RZk3qMoPX9652y7maT2f0TxJ4avVgCNcBGAsYHQ/w600-h300-p-k-no-nu/fletro-sponsored.png"
      /></noscript>
    </a>
    <app-favorite-button
      [article]="article"
      (toggle)="onToggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </div>
  <div class="pCntn">
    <div class="pHdr pSml">
      <div class="pLbls">
        <a
          *ngFor="let tag of article.tagList; trackBy: trackByFn"
          aria-label="Features"
          [attr.data-text]="tag"
          rel="tag"
        >
        </a>
      </div>
    </div>
    <h2 class="pTtl aTtl sml nSpr">
      <a
        data-text="Post with Sponsored Feature"
        [routerLink]="['/article', article?.slug]"
        class="preview-link"
        rel="bookmark"
      >
        {{ article.title }}
      </a>
    </h2>
    <div class="pSnpt">
      {{ article.description }}
      &#8230;
    </div>
    
  </div>
</article>
