<main>
  <!-- section -->
  <section>
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center d-md-none py-4">
            <!-- heading -->
            <h3 class="fs-5 mb-0">Account Setting</h3>
            <!-- button -->
            <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
              <i class="bi bi-text-indent-left fs-3"></i>
            </button>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
          <div class="pt-10 pe-lg-10">
            <!-- nav -->
            <ul class="nav flex-column nav-pills nav-pills-dark">
              <!-- nav item -->
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/profile', profile.username, 'favorites']"><i
                    class="feather-icon icon-settings me-2"></i>Cài đặt</a>
              </li>
              <!-- nav item -->
              <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/profile', profile.username]"><i
                    class="feather-icon icon-shopping-bag me-2"></i>Đơn hàng</a>
              </li>
              <!-- nav item -->
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/profile', profile.username, 'address']"><i
                    class="feather-icon icon-map-pin me-2"></i>Địa chỉ</a>
              </li>

              <!-- nav item -->
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/profile', profile.username, 'notification']"><i
                    class="feather-icon icon-bell me-2"></i>Thông báo</a>
              </li>
              <!-- nav item -->
              <li class="nav-item">
                <hr>
              </li>
              <!-- nav item -->
              <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                  (click)="logout()"><i class="feather-icon icon-log-out me-2"></i>Đăng Xuất</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
          <div class="py-6 p-md-6 p-lg-10">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>