<div
  id="kt_content_container"
  class="d-flex flex-column-fluid align-items-stretch container-xxl"
>
  <div id="kt_aside" class="aside">
    <div
      class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1"
      id="kt_aside_menu_wrapper"
      style="height: 797px"
    >
      <div
        class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-5 menu-rounded w-100"
        id="#kt_aside_menu"
      >
        <div class="menu-item">
          <div class="menu-content pb-2">
            <span class="menu-section text-muted text-uppercase fs-7 fw-bolder"
              >Public</span
            >
          </div>
        </div>
        <div class="menu-item">
          <a
            [ngClass]="{
              active: listConfig.type === 'all' && !listConfig.filters.tag
            }"
            (click)="setListTo('all')"
            class="menu-link active"
            ><span class="menu-title">Mới nhất</span
            ><span class="menu-badge">2,999</span></a
          >
        </div>
        <div class="menu-item">
          <a
            [ngClass]="{ active: listConfig.type === 'feed' }"
            (click)="setListTo('feed')"
            class="menu-link"
            ><span class="menu-title">Theo dõi</span></a
          >
        </div>
        <!-- <div class="menu-item">
          <a class="menu-link"><span class="menu-title">Tags</span></a>
        </div> -->
        <!-- <div class="menu-item pt-5">
          <div class="menu-content pb-2">
            <span class="menu-section text-muted text-uppercase fs-7 fw-bolder"
              >Categories</span
            >
          </div>
        </div>
        <div class="menu-item">
          <a
            href="https://devs.keenthemes.com/categories/suggestions"
            class="menu-link"
            ><span class="menu-title">Suggestions</span
            ><span class="menu-badge">88</span></a
          >
        </div>
        <div class="menu-item">
          <a
            href="https://devs.keenthemes.com/categories/pre-sale-questions"
            class="menu-link"
            ><span class="menu-title">Pre-sale Questions</span
            ><span class="menu-badge">125</span></a
          >
        </div>
        <div class="menu-item">
          <a
            href="https://devs.keenthemes.com/categories/metronic"
            class="menu-link"
            ><span class="menu-title">Metronic</span
            ><span class="menu-badge">2,493</span></a
          >
        </div> -->
        <div class="menu-item" *appShowAuthed="false">
          <a routerLink="/login" routerLinkActive="active" class="menu-link"
            ><span class="menu-title">Đăng nhập</span></a
          >
        </div>
        <div class="menu-item" *appShowAuthed="true">
          <a (click)="logout()" class="menu-link"
            ><span class="menu-title">Đăng xuất</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-12"
    id="kt_wrapper"
    style="min-height: 790px"
  >
    <div class="content flex-column-fluid lh-lg" id="kt_content">
      <!-- danh sách bài đăng -->
      <app-article-list [limit]="10" [config]="listConfig" [title]="title"></app-article-list>
    </div>
  </div>
  <div class="sidebar p-5 px-lg-0 py-lg-11">
    <div class="card hover-bg mb-5 mb-lg-10 shadow-none border-0">
      <div class="card-header align-items-center border-0">
        <h3 class="card-title fw-bolder text-gray-900 fs-3">Tags</h3>
      </div>
      <div class="card-body pt-0">
        <div class="d-flex align-items-center mb-7">
          <span class="svg-icon svg-icon-2 mt-0 me-3"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect
                opacity="0.3"
                x="2"
                y="2"
                width="20"
                height="20"
                rx="5"
                fill="black"
              ></rect>
              <path
                d="M11.9343 12.5657L9.53696 14.963C9.22669 15.2733 9.18488 15.7619 9.43792 16.1204C9.7616 16.5789 10.4211 16.6334 10.8156 16.2342L14.3054 12.7029C14.6903 12.3134 14.6903 11.6866 14.3054 11.2971L10.8156 7.76582C10.4211 7.3666 9.7616 7.42107 9.43792 7.87962C9.18488 8.23809 9.22669 8.72669 9.53696 9.03696L11.9343 11.4343C12.2467 11.7467 12.2467 12.2533 11.9343 12.5657Z"
                fill="black"
              ></path></svg></span
          ><a
            class="text-hover-primary fs-6 fw-bold text-gray-800"
            [hidden]="!listConfig.filters.tag"
          >
            {{ listConfig.filters.tag }}
          </a>
        </div>
      </div>
    </div>
    <div class="card card-flush border-0 card-p-0">
      <div class="card-body pt-0">
        <a href="https://keenthemes.com/products/templates-mega-bundle"
          ><img
            src="https://devs.keenthemes.com/assets/media/banners/mega-bundle.png"
            class="card-rounded w-100"
            alt="volume"
        /></a>
      </div>
    </div>
  </div>
</div>
