<div class="blogM">
  <!--[ Main content ]-->
  <main class="blogItm mainbar">
    <!-- chay silde -->
    <!-- <div class="sldO scrlH section" id="slider-widget">
      <div class="widget Image" data-version="2" id="Image1">
        <div class="sldC" id="Image1_img">
          <div
            class="sldIm lazy loaded"
            data-style="background-image: url(https://1.bp.blogspot.com/-yMSpgmjn390/YF1Q5CvGIcI/AAAAAAAAQlg/59LxYemhlyEbbhqlpdfypu5OXRav4t-JgCNcBGAsYHQ/s1600/slider-1-min.png)"
            lazied=""
            style="
              background-image: url('https://1.bp.blogspot.com/-yMSpgmjn390/YF1Q5CvGIcI/AAAAAAAAQlg/59LxYemhlyEbbhqlpdfypu5OXRav4t-JgCNcBGAsYHQ/s1600/slider-1-min.png');
            "
          ></div>
          <noscript>
            <div
              class="sldIm"
              style="
                background-image: url(https://1.bp.blogspot.com/-yMSpgmjn390/YF1Q5CvGIcI/AAAAAAAAQlg/59LxYemhlyEbbhqlpdfypu5OXRav4t-JgCNcBGAsYHQ/s1600/slider-1-min.png);
              "
            ></div>
          </noscript>
        </div>
        <div class="sldS"></div>
      </div>
      <div class="widget Image" data-version="2" id="Image2">
        <div class="sldC" id="Image2_img">
          <div
            class="sldIm lazy loaded"
            data-style="background-image: url(https://1.bp.blogspot.com/-dGxoQ9YQYsM/YF1Q71CYmII/AAAAAAAAQlo/0scDqH__JA87HT6QpRcFZt9Y7CucundjQCNcBGAsYHQ/s1600/slider-2-min.png)"
            lazied=""
            style="
              background-image: url('https://1.bp.blogspot.com/-dGxoQ9YQYsM/YF1Q71CYmII/AAAAAAAAQlo/0scDqH__JA87HT6QpRcFZt9Y7CucundjQCNcBGAsYHQ/s1600/slider-2-min.png');
            "
          ></div>
          <noscript>
            <div
              class="sldIm"
              style="
                background-image: url(https://1.bp.blogspot.com/-dGxoQ9YQYsM/YF1Q71CYmII/AAAAAAAAQlo/0scDqH__JA87HT6QpRcFZt9Y7CucundjQCNcBGAsYHQ/s1600/slider-2-min.png);
              "
            ></div>
          </noscript>
        </div>
        <div class="sldS"></div>
      </div>
      <div class="widget Image" data-version="2" id="Image3">
        <div class="sldC" id="Image3_img">
          <div
            class="sldIm lazy loaded"
            data-style="background-image: url(https://1.bp.blogspot.com/-vK7BQxXeYnk/YF1Q9MVgZ8I/AAAAAAAAQls/OanP_Tl4sd4616Y1RaD2JPA_UOWtMkDAQCNcBGAsYHQ/s1600/slider-3-min.png)"
            lazied=""
            style="
              background-image: url('https://1.bp.blogspot.com/-vK7BQxXeYnk/YF1Q9MVgZ8I/AAAAAAAAQls/OanP_Tl4sd4616Y1RaD2JPA_UOWtMkDAQCNcBGAsYHQ/s1600/slider-3-min.png');
            "
          ></div>
          <noscript>
            <div
              class="sldIm"
              style="
                background-image: url(https://1.bp.blogspot.com/-vK7BQxXeYnk/YF1Q9MVgZ8I/AAAAAAAAQls/OanP_Tl4sd4616Y1RaD2JPA_UOWtMkDAQCNcBGAsYHQ/s1600/slider-3-min.png);
              "
            ></div>
          </noscript>
        </div>
        <div class="sldS"></div>
      </div>
      <div class="widget Image" data-version="2" id="Image4">
        <div class="sldC" id="Image4_img">
          <div
            class="sldIm lazy loaded"
            data-style="background-image: url(https://1.bp.blogspot.com/-Q_BGkGuukLE/YF1Q67reH4I/AAAAAAAAQlk/jXe6LIyIjkkNpJu7ShtztoUWV4JylmCkgCNcBGAsYHQ/s1600/slider-4-min.png)"
            lazied=""
            style="
              background-image: url('https://1.bp.blogspot.com/-Q_BGkGuukLE/YF1Q67reH4I/AAAAAAAAQlk/jXe6LIyIjkkNpJu7ShtztoUWV4JylmCkgCNcBGAsYHQ/s1600/slider-4-min.png');
            "
          ></div>
          <noscript>
            <div
              class="sldIm"
              style="
                background-image: url(https://1.bp.blogspot.com/-Q_BGkGuukLE/YF1Q67reH4I/AAAAAAAAQlk/jXe6LIyIjkkNpJu7ShtztoUWV4JylmCkgCNcBGAsYHQ/s1600/slider-4-min.png);
              "
            ></div>
          </noscript>
        </div>
        <div class="sldS"></div>
      </div>
    </div> -->
    <!-- bat dau bai viet tu day -->
    <div class="section" id="top-widget">
      <div class="widget HTML" data-version="2" id="HTML92">
        <div class="widget-content">
          <div class="adB" data-text="Ads go here"></div>
        </div>
      </div>
      <div class="widget FeaturedPost" data-version="2" id="FeaturedPost1">
        <h2 class="title">Pinned Post</h2>
        <div class="itemFt">
          <article class="itm">
            <div class="iThmb pThmb">
              <a
                class="thmb"
                href="https://medianui-anhtuanblog.blogspot.com/2021/10/all-typography-and-writing-formats.html"
              >
                <img
                  alt="All Typography and Writing Formats"
                  class="imgThm lazy"
                  data-src="https://4.bp.blogspot.com/-gPITOUcub9k/YCn4kfxAt9I/AAAAAAAAQW8/mRfiBRLQfC06xF4RxomLKnFCu4frf_KYgCNcBGAsYHQ/w600-h300-p-k-no-nu/imagz-all-style.png"
                  src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                />
                <noscript
                  ><img
                    alt="All Typography and Writing Formats"
                    class="imgThm"
                    src="https://4.bp.blogspot.com/-gPITOUcub9k/YCn4kfxAt9I/AAAAAAAAQW8/mRfiBRLQfC06xF4RxomLKnFCu4frf_KYgCNcBGAsYHQ/w600-h300-p-k-no-nu/imagz-all-style.png"
                /></noscript>
              </a>
            </div>
            <div class="iCtnt">
              <div class="pHdr pSml">
                <div class="pLbls" data-text="in">
                  <a
                    
                    data-text="Features"
                    href="https://medianui-anhtuanblog.blogspot.com/search/label/Features"
                    rel="tag"
                  >
                  </a>
                </div>
              </div>
              <h3 class="pTtl aTtl">
                <a
                  href="https://medianui-anhtuanblog.blogspot.com/2021/10/all-typography-and-writing-formats.html"
                  >All Typography and Writing Formats</a
                >
              </h3>
              <div class="pSnpt">
                Not all of the styles below can be used directly in
                &quot;Writing view&quot; mode, but there are also some features
                that can only be used from &quot;&#8230;
              </div>
              <div class="pInf pSml">
                <time
                  class="aTtmp pTtmp pbl"
                  data-text="Oct 28, 2021"
                  datetime="2021-10-28T15:18:00+07:00"
                  title="Published: October 28, 2021"
                ></time>
                <a
                  aria-label="Read more"
                  class="pJmp"
                  data-text="Keep reading"
                  href="https://medianui-anhtuanblog.blogspot.com/2021/10/all-typography-and-writing-formats.html"
                ></a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="section" id="main-widget">
      <div class="widget HTML" data-version="2" id="HTML93">
        <div class="widget-content">
          <div class="adB" data-text="Ads go here"></div>
        </div>
      </div>
      <app-article-list [limit]="9" [config]="listConfig"></app-article-list>
    </div>
    <div class="section" id="add-widget">
      <div class="widget HTML" data-version="2" id="HTML94">
        <div class="widget-content">
          <div class="adB" data-text="Ads go here"></div>
        </div>
      </div>
    </div>
  </main>
  <!--[ Sidebar content ]-->
  <app-sidebar></app-sidebar>
</div>
